1) In the following code block, calculate the value of $\displaystyle \frac{(3+5)^{2}}{3^{3}}$. **(10 points)**

In [2]:
((3+5)**2)/(3**3)

2.3703703703703702

2) In mathematics, the Fibonacci numbers, commonly denoted $F_{n}$ form a sequence, called the Fibonacci sequence, such that each number is the sum of the two preceding ones, starting from 0 and 1. That is,

$$ F_{0}=0, F_{1}=1,\mbox{ and } F_{n}=F_{n-1}+F_{n-2},\mbox{ for }n > 1.$$

In the following code block, use a for loop to construct a list that includes $F_{0}, \ldots, F_{10}$. Use the print function to show the final list. **(20 points)**

In [3]:
fib = [0,1]

for i in range(0,8):
    fib.append(fib[i] + fib[i+1])
    
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

3) The following code block defines a list object named my_numbers that contains 20 floating point vlaues. Add print statements that return:

- the first four elements, i.e., elements 0-3,
- the last six elements, i.e., elements 14-19, and
- all elements starting at 0 and incrementing in steps of 5.

**(10 points)**

In [4]:
my_numbers = [5.84,  4.11,  1.96,  1.73, 1.44, -3.50, -9.08, 
              -9.46, 1.18,  1.59,  5.11,  9.96, 5.82,  1.56,  
              5.11, -1.83, -1.63,  3.52,  2.36, -8.64]

In [12]:
print(my_numbers[0:4])
print(my_numbers[-6:])
print(my_numbers[::5])

[5.84, 4.11, 1.96, 1.73]
[5.11, -1.83, -1.63, 3.52, 2.36, -8.64]
[5.84, -3.5, 5.11, -1.83]

4) The following code block defines a nested dictionary object named my_dict that contains the age and height of three individuals (Alice, Bob, and Eve). Write a for loop that prints the age and height for each individual using the format "**NAME** is **X** years old and **Y** inches tall." **(20 points)**

In [7]:
my_dict = {'Alice':{'Age': 32, 'Height (in)': 64},
           'Bob': {'Age': 40, 'Height (in)': 70},
           'Eve': {'Age': 20, 'Height (in)': 68}}

for item in my_dict:
    print(f'%s is %d years old and %d inches tall'%(item,my_dict[item]['Age'], my_dict[item]['Height (in)']))

Alice is 32 years old and 64 inches tall

Bob is 40 years old and 70 inches tall

Eve is 20 years old and 68 inches tall

5) In the following code block, use a while loop to print the positive integers ($i.e., 1, 2, 3, \ldots$) $n$ that satisfy the inequality $2^{n} - n^{2} < 100$. Specifically, the statement "2^**n** - **n**^2 = value < 100" should be printed for each value that satisfies the inequality, where $n$ is the current integer being considered and value denotes the value of the expression $2^{n} - n^{2}$ evaluated with the current integer $n$. **(20 points)**

In [16]:
n = 1
temp = 2**n-n**2
while(temp < 100):
    print(f'2^%d - %d^2 = %d < 100'%(n,n,temp))
    n+=1
    temp = 2**n-n**2

2^1 - 1^2 = 1 < 100
2^2 - 2^2 = 0 < 100
2^3 - 3^2 = -1 < 100
2^4 - 4^2 = 0 < 100
2^5 - 5^2 = 7 < 100
2^6 - 6^2 = 28 < 100
2^7 - 7^2 = 79 < 100

6) The following code block contains a for loop that iterates over a list named `products`. The list is supposed to print the index value for each product in the list, starting at 1, along with the product name. However, the syntax is not correct. Correct the syntax so that the loop performs as expected. **(20 points)**

In [13]:
products = ['Product A'; 'Product Y'; 'Product F'; 'Product S']
for product_index, product in enumerate(products, 2):
    print('{product_index}: {product}')

SyntaxError: invalid syntax (2265579892.py, line 1)

<span style="color:blue">Above is the original below is the modified to be correct</span>

In [14]:
products = ['Product A', 'Product Y', 'Product F', 'Product S']
for product_index, product in enumerate(products, 1):
    print(product_index, ': ', product)

1 :  Product A
2 :  Product Y
3 :  Product F
4 :  Product S